/*----------------------------------------------*/
/*                    LAYOUT                    */
/*----------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
    
}
.box{padding: 1%;}

/*----------------------------------------------*/
/*                 MAIN SETUP                   */
/*----------------------------------------------*/
html,
body{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
    
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------------*/
/*                   HEADER                     */
/*----------------------------------------------*/
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(21, 21, 21, 0.72)),to(rgba(21, 21, 21, 0.72))),url(img/hero-min.jpg);
    background-image:linear-gradient(rgba(21, 21, 21, 0.72),rgba(21, 21, 21, 0.72)),url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
}

.hero-text-box{
    top: 50%;
    left:50%;
    position: absolute;
    width: 1140px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

/*---------------  HEADING  -------------------*/

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2{
   
    color: black;
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    width: 118px;
    content: "";
    background-color: orange;
    margin: 0 auto;
    margin-top: 20px;
}

h3{
    margin-bottom: 20px;
    font-size: 110%;
    font-weight: 300;
    text-transform: uppercase;
    
}


/*----------------------------------------------*/
/*                   FEATURES                   */
/*----------------------------------------------*/

.section-features .long-copy{     /* To access only long copy paragraph not all the column below it */
    margin-bottom: 40px;
}
.section-features{
    margin-top: 20px;
}

.long-copy{
    text-align: justify;
    margin: 0 80px 30px 80px; /*    width:70%; margin-left: 15%;    || This will do the same */
    line-height: 145%;   
}

.box{
    padding: 1%;
    line-height: 130%;
    margin-top: 25px;  
}

.box p{
    font-size: 18px;
}

/*---------------  BUTTONS  -------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    -webkit-transition: background-color 0.2s, border 0.2s, font-color 0.2s;
    transition: background-color 0.2s, border 0.2s, font-color 0.2s;
    
}
.btn-full:link,
.btn-full:visited,input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
    
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
 background-color:#bf6516; 
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #bf6516;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #bf6516;
    color: white;
    
}

/*------------ LOGO -------------*/
.logo{
     height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
}


/*Without sticky */

.main-nav{
    float: right;
    list-style: none;
    color: white;
    margin-right: 0px;
    margin-top: 55px;
    
}
.main-nav li{
    margin-left: 40px;
    display: inline-block;
    
}

.main-nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 8px;
}
      

.main-nav li a:link,
.main-nav li a:visited{
    border-bottom: 2px solid transparent; 
    -webkit-transition: border-bottom 0.2s; 
    transition: border-bottom 0.2s;
       
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22; 
       
}
/*mobile nav*/
.mobile-nav-icon{
    float: right;
    margin-top: 35px;
    display: none;
    cursor: pointer;
    
}
.mobile-nav-icon i{
    color: #fff;
    font-size: 200%;
}



/*sticky nav*/

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 0 2px 2px #e8e8e8;
    z-index: 9999;
    
}
.sticky .main-nav{margin-top: 15px;}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: black;
    padding: 15px;
}
.sticky .logo-black{display: block;}
.sticky .logo{display: none;}

/*--------------------------ICONS-------------------------------*/
.icon-big{
    font-size: 400%;
    color: orange;
    margin-bottom: 10px;
    display: block;
}



/*----------------------------------------------*/
/*                 MEAL SECTION                 */
/*----------------------------------------------*/
.section-meals{
    padding: 0;
}
.meal-showcase{    
    width: 100%;
    list-style: none;
}
.meal-showcase li{
    width: 25%;
    display: inline-block;
    float: left;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.meal-photo img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*----------------------- HOW IT WORKS ----------------------------- */

.section-steps h2{
    margin-top: 50px;
}

.section-steps{
    padding: 0;;
    background-color: aqua;
}

.work-step{
    margin-top: 90px;
}

.work-step:last-of-type{
    margin-bottom: 50px;
}

.step-box{
    margin-top: 20px;
}
.step-box:first-child{
    padding: 3%;
    text-align: right;
    
}
.step-box:last-child{
    padding: 3%; 
}

.app-screen{
    width: 40%;
    
}
.work-step div{
    color: orange;
    border: 2px solid orange; 
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    float: left;
    margin-right: 20px;
}
.step-box img{
    margin-top: 30px;
}
.Play-store-btn{
    width: 25%;
    margin-left: 10px;
}
.App-store-btn{
    width: 29%;
    
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}


/*----------------------------- CITIES ------------------------------*/


.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    
  
}
.section-cities .box{
    margin-left: 13px;
    margin-right: 0px;
}
.section-cities{
    padding: 2%;
}


.city-feature{margin-bottom: 5px;}

a:link,
a:active{
    
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
}

.twt{
    color: #e67622;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    vertical-align: middle;
    margin-top: -8px;
    color: orange;
    margin-right: 10px;
    line-height: 50%;
}

/*-----------------------------CUSTOMER--------------------*/

.section-customer{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(21, 21, 21, 0.72)),to(rgba(21, 21, 21, 0.72))),url(img/back-customers-min.jpg);
    background-image:linear-gradient(rgba(21, 21, 21, 0.72),rgba(21, 21, 21, 0.72)),url(img/back-customers-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
   
}
.section-customer h2{
    color: white;
}
blockquote{
    padding: 2%;
     font-style: italic;
    font-family:serif;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    left: -20px;
    top: -10px;
}

cite{
    font-size: 90%;
    display: block;
    margin-top: 15px;
    
    
}
cite .pic{
    width: 25%;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px; 
    
}


/* --------------------------- PLANS----------------------*/

.section-plans{
    background-color: #0bf4f4;  
    display: block;
}
.plan-box{
    background-color: #ffffff;
    width: 90%;
    margin-left: 5%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0 5px 5px #d6d6d6;
    box-shadow: 0 5px 5px #d6d6d6; /* x-axis y-axis blur color*/    
    
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #d6d6d6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plan-box  div:last-child{
    text-align: center;
    border: 0;
    
}

.plan-box div:first-child{
    background-color: #f1f8ff;
}
.plan-box div ul{
    list-style: none;

}
.plan-box ul li{
    padding: 5px;
}

.plan-price{
    font-size: 300%;
    font-weight: 100;
    color: orange;
    margin-bottom: 10px;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

/*------------------------------FORM------------------------------*/


.section-form{
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 2%;
}

textarea{
    height: 100px;
}

input[type=checkbox]
{
    margin: 10px 5px 10px 0px;
}

*:focus{outline: none;} /* remove outline in the text field*/



/*---------------------------FOOTER--------------------------*/

footer{
    background-color: #3b3b3b;
    color: darkgrey;
}

.list li{
    list-style: none;
    display: inline-block;
    margin-left: 0px;
    float: left;
    margin-top: 40px;
    font-size: 16px; 
    margin-right: 20px;
    font-weight: 500;
}
.list-icon li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    float: right;
    margin-top: 40px;
    font-size: 25px; 
    font-weight: 500;
}

footer p{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;   
    margin-bottom: 40px;
}

.btn-foot:hover,
.btn-foot:active
{
    color: #fff;
}

footer .btn-foot{
    border-bottom: 0;
    color: darkgray;
}

/*----------------------------------------------*/
/*             ANIMATION ON SCROLL              */
/*----------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-1 .animate,
.js--wp-2 .animate,
.js--wp-3 .animate{
    opacity: 1;
}